__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.conda/
.vscode/
.idea/
.env
.env.*
!.env.example
desktop.ini
Thumbs.db
.DS_Store
*.ova
*.zip
ProyectoFUSO/
DatasetsGowalla/
DatasetsGowalla.zip
FilteredDatasets/
ALL_LOCATIONS.txt
*Gowalla_top5.txt
descargas_resultados_flask/
